.btn-black3 {
  background-color: black;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  border-radius: 500px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 8px 16px;
  gap: 8px;
}

.btn-black3:hover {
  background-color: #333333;
  opacity: 80%;
}
