.empty-cart-img {
  height: 175px;
  width: 175px;
}

.empty-cart-container {
  margin: 24px;
  padding: 0px 8px;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 124px);
}

.empty-cart-title {
  margin-bottom: 12px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.empty-cart-desc {
  margin-bottom: 36px;
  color: #545454;
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  max-width: 80%;
  text-align: center;
}

.empty-cart-start-shop {
  padding: 0px 12px;
  background-color: #000000;
  height: 36px;
  border-radius: 500px;
  line-height: 16px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.empty-cart-start-shop:hover {
  opacity: 80%;
}
