.item-plus1 {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 35.75px;
  height: 38px;
  font-size: 18px;
  background-color: #000000;
  padding: 9px;
  color: white;
  border-radius: 500px;
  border: 1px solid white;
}

.item-plus1:hover {
  background-color: #262626;
  opacity: 90%;
}
