.item-plus1 {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 35.75px;
  height: 38px;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  color: white;
  border-radius: 500px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-plus1:hover {
  background-color: #262626;
  opacity: 90%;
}

.item-plus4 {
  background-color: rgb(4, 136, 72);
  position: absolute;
  position: absolute;
  top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  z-index: 1;
  border-radius: 0px 12px 12px 0px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
}

.profile-dropdown1 {
  /* right: 68px; */
  top: 8px;
  position: absolute;
  background-color: white;
  width: -106.11px;
  right: -97.11px;
  transition: all 0.2s ease-in-out;

  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  color: white;
  border-radius: 500px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

.item-plus2 {
  right: 8px;
  top: 8px;

  width: 35.75px;
  height: 38px;
  font-size: 18px;
  background-color: #000000;
  padding: 9px;
  color: white;
  border-radius: 500px;
}

.item-plus2:hover {
  background-color: #454343;
}

.middle-q {
  width: 28px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
}
