footer {
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

footer > * {
  color: black;
  font-size: 18px;
  line-height: 22px;
}

.footer-icon {
  font-size: 20px;
}
