.menu-item3 {
  border-top: 1px solid #c0bebe !important;
  margin-top: 18px;
  padding-top: 18px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  font-weight: 500;
  color: #333333;
}

.pb4 {
  padding-bottom: 4px;
}

.underfocus {
  width: fit-content;
  font-weight: 1000;
  /* border-bottom: 2px solid #3e9920; */
  /* color: #3e9920; */
  color: rgb(4, 136, 72);
}

.underfocus:hover i:hover {
  font-weight: 1000;
  /* padding-bottom: 2px; */
  /* color: #3e9920; */
  color: rgb(4, 136, 72);
}

.my-one-edit-btns {
  padding-top: 60px;
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
}

.reorder-btn6 {
  width: 302px;
  padding: 20px;
  border: none;
  outline: none;
  /* border-radius: 8px; */
  background-color: #e5e5e5;
  color: black;
  cursor: pointer;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.reorder-btn6:hover {
  background-color: #d2d2d2;
}

.reorder-btn11 {
  padding: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.reorder-btn11:hover {
  opacity: 0.8;
}

.my-one-res-head {
  display: flex;
  gap: 24px;
}

.my-one-res-head-sub {
  margin: 6px 0;
  min-width: fit-content;
}

.my-one-res-photo {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.my-one-res-photo:hover {
  opacity: 0.8;
}

.my-res-address-container {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: fit-content;
}

.my-res-rating-stat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.res-list-title2 {
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}

.my-res-loc {
  font-weight: 900;
}
