.man1 {
  padding-top: 24px;
  padding-left: 34px;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item3 {
  border-top: 1px solid #c0bebe !important;
  margin-top: 18px;
  padding-top: 18px;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  font-weight: 500;
  color: #333333;
}

.pb4 {
  padding-bottom: 4px;
}

.underfocus {
  width: fit-content;
  font-weight: 1000;
  /* border-bottom: 2px solid #3e9920; */
  color: #3e9920;
}

.underfocus:hover i:hover {
  font-weight: 1000;
  /* padding-bottom: 2px; */
  color: #3e9920;
}

.my-one-edit-btns {
  padding-top: 60px;
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
}

.reorder-btn6 {
  width: 302px;
  padding: 20px;
  border: none;
  outline: none;
  /* border-radius: 8px; */
  background-color: #e5e5e5;
  color: black;
  cursor: pointer;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.reorder-btn6:hover {
  background-color: #d2d2d2;
}
