/* TODO Add site wide styles */
* {
  margin: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Uber Move Text", sans-serif;
  list-style-type: none;
}

:root {
  --btn: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

/* overall layout  */
body {
  /* max-width: 1920px; */
  margin: 0 auto;
}

.mw {
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

#root {
  height: calc(100vh);
}

.cursor {
  cursor: pointer;
}
/* end for overall layout  */

.btn-grey {
  background-color: var(--btn);
  color: #000000;
}

.btn-grey:hover {
  background-color: #e2e2e2;
}

.grey-background {
  background-color: #f6f6f6;
}

.black-background {
  background-color: #000000;
}

.need-log-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.need-log-in > * {
  font-size: 20px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.need-log-in-auth {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.need-log-in-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.need-log-in-title {
  margin-top: 24px;
  line-height: 44px !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  text-align: center !important;
}

.need-log-in-text {
  font-size: 16px;
  line-height: 24px;
}
