.cart-res-favicon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-black2 {
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  border-radius: 500px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn-items {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
  padding: 14px 12px 14px 8px;
  color: #ffffff;
}

.btn-items:hover {
  background-color: #333333;
  opacity: 80%;
}

.btn-carts {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
  padding: 14px 16px 14px 12px;
  color: #ffffff;
}

.btn-carts:hover {
  background-color: #333333;
  opacity: 80%;
}

.seperate-line {
  background-color: rgb(84, 84, 84);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 1.5px;
  height: 50%;
  margin: 12px 0px;
}
.shopping-dropdown1 {
  position: absolute;
  background-color: #ffffff;
  top: 72px;
  right: 48px;
  transform: translateX(0px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 8px;
  overflow: hidden;
}

.cart-n {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;

  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.cart-sub {
  color: #545454;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}
