.delete-pin {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 24px 36px;
  /* width: 35rem; */
  /* width: 560px; */

  background-color: white;
}

.delete-width {
  width: 560px;
}

.del-title {
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.delete-content {
  font-weight: 500;
  margin-top: 12px;
  line-height: 24px;
  font-size: 18px;
}

.del-p-btn {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.del-btn {
  border-radius: 8px;
  color: white;
  font-weight: 500;
  background-color: #cc0000;
  border: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  line-height: 24px;
}

.del-btn:hover,
.cancel-btn:hover {
  filter: brightness(92%);
  /* opacity: 0.85; */
}

.review-t3 {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: black;
}

.delete-res-name {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: rgb(4, 136, 72);
}
