.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.need-log-in-auth {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.need-log-in-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.need-log-in-title {
  margin-top: 24px;
  line-height: 44px !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  text-align: center !important;
}

.need-log-in-text {
  font-size: 16px;
  line-height: 24px;
}
