.new-york-img {
  /* background-image: url("https://media.discordapp.net/attachments/1139263822469795862/1142002296985747516/new-york-map.PNG?width=2755&height=1365");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 96px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000 !important; */
}

.main-place-holder-container {
  height: calc(100vh);
  /* background-image: url("https://media.discordapp.net/attachments/1139263822469795862/1142002296985747516/new-york-map.PNG?width=2755&height=1365");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  position: relative;
}

.map-direction-container {
  position: absolute;
  top: 96px;
  left: 0;
  right: 0px;
  bottom: 0;
}

.thanks-container {
  position: absolute;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 80vh;
  left: 36px;
  top: 120px;
  margin-left: 72px;
  overflow-y: auto;
  -ms-overflow-style: none;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

/* width of scroll bar  */
/* .thanks-container::-webkit-scrollbar {
  width: 8px;
} */

/* style scrollbar thumb */
/* .thanks-container::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 5px;
} */

/* hide scrollbar track for Firefox */
/* .thanks-container {
  scrollbar-width: auto;
} */

/* style scrollbar thumb for Firefox */
/* .thanks-container {
  scrollbar-color: #eeeeee transparent;
} */

/* line-height: 24px;
font-size: 16px;
color: #000000; */

.checkout-delivery-box3 {
  padding: 48px 24px 0px 24px;
}

.checkout-delivery-box8 {
  padding: 48px 24px 12px 24px;
}

.checkout-delivery-box4 {
  padding: 24px 0px 24px 0px;
}

.checkout-delivery-box5 {
  padding: 24px 24px 24px 24px;
}

.checkout-delivery-box6 {
  padding: 36px 0px 0px 0px;
}

.checkout-delivery-box7 {
  padding: 32px 0px 0px 0px;
}

.checkout-ttt {
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  position: relative;
}

.fa-spin {
  position: absolute;
  font-size: 22px;
  right: 16px;
  top: 6px;
  /* color: #bfbebe; */
  color: rgb(4, 136, 72);
}

.checkout-a-sub1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.single-item-container2 {
  display: flex;
  gap: 16px;
  padding: 8px 0px;
  align-items: center;
}

.pad {
  padding: 16px 0px;
}

.pad1 {
  padding: 16px 0px 8px 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pad2 {
  padding: 16px 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkout-tt {
  line-height: 48px;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.single-fee-container2 {
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
  margin-bottom: 36px;
}

/* .gmnoprint > * {
  position: absolute;
  bottom: 10px !important;
  right: 10px !important;
  z-index: 1000; /* Ensure the controls are on top of the map */
/* } */

/* review box  */
.leave-review-box {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.rating-box1 {
  display: flex;
  flex-direction: column;
}

.rating-b1 {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.rating-input3 {
  display: flex;
  margin-right: 12px;
  font-size: 24px;
  gap: 4px;
}

.rating-input3 .filled3 {
  color: rgb(255, 135, 66);
}

.rating-input3 .empty3 {
  color: white;
  text-shadow: 0 0 2px #000;
}

.next-right {
  font-size: 20px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-right:hover {
  background-color: white;
  font-size: 20px;
}

.item-review-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.item-review-inner {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  gap: 16px;
}

.item-review-single {
  /* margin: auto 20px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.item-review-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.item-like-dislike {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 16px;
}

.thumbs {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.thumbs:hover {
  background-color: #d5d5d5;
}

.place-order-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.place-receipt {
  text-align: right;
}

.dis-dur-container2 {
  padding: 4px 16px;
  border-right: 1px solid black;
  font-size: 20px;
}

.dis-dur-container3 {
  position: absolute;
  right: 0;
  display: flex;
  font-size: 14px;
  /* background-color: #d5e2f6; */
  background-color: white;
  border: 1px solid black;
}

/* .gm-svpc {
  display: none;
} */
