#reviews-section {
  margin: 24px 0px 100px 0px;
  padding: 24px 40px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 200px;
}

.reviews-section-left {
  min-width: 400px;
}

.reviews-left-title {
  line-height: 44px;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12px;
}

.restaurant-card-stars2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.restaurant-card-stars2 > div {
  line-height: 40px;
  font-weight: 700;
  font-size: 24px;
}

.n-reviews {
  line-height: 28px;
  /* font-weight: 700; */
  font-size: 24px;
  color: #848484;
  margin-top: 12px;
  margin-bottom: 8px;
}

/* overall star ratings  */
.ratings1 {
  margin-left: 8px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  /* color: #b1b1b1; */
  color: #f0f0f0;
  overflow: hidden;
}

.full-stars1 {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  /* color: rgb(251, 80, 60); */
}

.empty-stars1:before,
.full-stars1:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 24pt;
}

.empty-stars1:before {
  -webkit-text-stroke: 5px transparent;
}

.full-stars1:before {
  -webkit-text-stroke: 5px transparent;
}

/* stars distribution  */
.stars-distribution {
  display: flex;
}

/* ratings2   empty-bar   full-bar  */
.rating-bars-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 330px;
  margin-left: 8px;
  gap: 4.5px;
}

.ratings2 {
  margin-top: 8px;

  position: relative;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;

  width: 100%;
  height: 16px;
  border-radius: 12px;

  background-color: #f0f0f0;
}

.full-bar {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  border-radius: 12px;
}

/* create review box  */
.create-review-box {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  border-radius: 4px;
  border-color: #ebebeb;
  box-shadow: 0 0 10px #0000001a;
  width: 600px;
  margin-bottom: 24px;
}

.user-profile1 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-right: 48px;
}

.star-create {
  font-size: 24px;
  cursor: pointer;
}

.rating-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rating-b {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating-dd {
  color: #545454;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.rating-ddd {
  /* color: #545454; */
  /* color: #027a97; */
  color: rgb(4, 136, 72);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.rating-ddd:hover {
  text-decoration: underline 2px;
}

.rating-input1 {
  display: flex;
  margin-right: 4px;
  font-size: 24px;
}

.rating-input1 .filled {
  color: rgb(255, 135, 66);
}

.rating-input1 .empty {
  color: #eeeeee;
}

.rating-input {
  display: flex;
  margin-right: 4px;
  font-size: 24px;
}

.rating-input .filled {
  color: rgb(255, 135, 66);
}

.rating-input .empty {
  color: #bebebe;
}

/* review list  */
.reviews-section-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.relist-container {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
}

.review-card-container:last-child {
  border-bottom: none;
  margin-bottom: 48px;
}

.review-card-container {
  width: 100%;
  margin-top: 32px;
  border-bottom: 1px solid #e2e2e2;
}

.review-ct {
  display: flex;
}

.reviewer-img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.review-title-box {
  display: flex;
  flex-direction: column;
}

.review-r {
  display: flex;
  align-items: center;
  padding-top: 4px;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #6b6b6b;
  gap: 4px;
}

.review-rr {
  font-size: 14px;
  font-weight: normal;
  color: #6b6b6b;
}

.review-name {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

/* single review star ratings  */
.ratings3 {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  /* color: #b1b1b1; */
  color: #f0f0f0;
  overflow: hidden;
}

.full-stars3 {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  /* color: rgb(251, 80, 60); */
}

.empty-stars3:before,
.full-stars3:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 16pt;
}

.empty-stars3:before {
  -webkit-text-stroke: 1px transparent;
}

.full-stars3.n-reviews {
  -webkit-text-stroke: 1px transparent;
}

.review-cb {
  font-size: 16px;
  color: #545454;
  line-height: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 32px;
}
